
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    color: #000000;
    background-color: #020000;
    overflow-x: hidden;
}

header {
    height: 100vh;
    background: url('images/hero-bg.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 700;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.hero-content p {
    font-size: 1.5rem;
    margin-top: 1rem;
    opacity: 0;
    animation: fadeIn 2s 0.5s forwards;
}

.scroll-button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.75rem 2rem;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadeIn 2s 1s forwards;
    transition: background-color 0.3s, color 0.3s;
}

.scroll-button:hover {
    background-color: white;
    color: black;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

nav#navbar {
    background-color: rgba(19, 18, 18, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1rem;
    transition: background-color 0.3s ease;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 2rem;
}

nav ul li a {
    color: rgb(234, 211, 219);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #5d5bd3;
}

section {
    padding: 5rem 10%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

section h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    position: relative;
    animation: slideInFromLeft 1s ease-out;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

section p {
    font-size: 1.25rem;
    color: #555;
}

.parallax {
    background: url('images/interests-bg.jpg') no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.social-icons a {
    margin: 0 1.5rem;
}

.social-icons img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.3);
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: #282c34;
    color: #c0afaf;
}
